@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<body>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #05668D;
            font-family: sans-serif;
        }

        .box {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 25rem;
            padding: 2.5rem;
            box-sizing: border-box;
            background: rgba(0, 0, 0, 0.3);
            border-radius: 0.625rem;
        }

            .box h2 {
                margin: 1.6rem auto;
                padding: 0;
                color: #A5BE00;
                text-align: center;
            }

            .box .inputBox {
                position: relative;
            }

                .box .inputBox input {
                    width: 100%;
                    padding: 0.625rem 0;
                    font-size: 1rem;
                    color: #fff;
                    letter-spacing: 0.062rem;
                    margin-bottom: 1.875rem;
                    border: none;
                    border-bottom: 0.065rem solid #EBF2FA;
                    outline: none;
                    background: transparent;
                }

                .box .inputBox label {
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 0.625rem 0;
                    font-size: 1rem;
                    color: #EBF2FA;
                    pointer-events: none;
                    transition: 0.5s;
                }

                .box .inputBox input:focus ~ label,
                .box .inputBox input:valid ~ label,
                .box .inputBox input:not([value=""]) ~ label {
                    top: -1.125rem;
                    left: 0;
                    color: #fff;
                    font-size: 0.75rem;
                }

            .box input[type="submit"] {
                border: none;
                outline: none;
                color: #EBF2FA;
                background-color: #679436;
                padding: 0.625rem 1.25rem;
                cursor: pointer;
                border-radius: 0.312rem;
                font-size: 1rem;
                text-align: center;
            }

                .box input[type="submit"]:hover {
                    background-color: #EBF2FA;
                    color: #679436;
                }
    </style>

    <div class="box">
        <h2>Add New Vessel</h2>

        @ViewBag.Message
        @using (Html.BeginForm("AddService", "Home", FormMethod.Post))
        {
            <div class="inputBox">
                <input type="text"
                       name="name"
                       required />
                <label>Name</label>
            </div>
            <div class="inputBox">
                <input type="number"
                       name="IMO"
                       required />
                <label>IMO</label>
            </div>
            <div class="inputBox">
                <input type="number"
                       name="MMSI"
                       required />
                <label>MMSI</label>
            </div>
            <input type="submit"
                   name="add"
                   value="Add" />
        }
    </div>
</body>
</html>